# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/MsgQueueTest/MsgQueueTest/Debug
/MsgQueueTest/Debug
/MsgQueueTest/.vs/MsgQueueTest/v15
/test1/.vs/test1/v15
/test1/Debug
/test1/test1/Debug
